@import '$lib/fonts/mont';

* {
	box-sizing: border-box;
}

:root {
	--font-body: 'Mont', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--active-color: #f5d009;
	--text-color: #000;
	--error-color: #f03b3b;
	font-family: var(--font-body);
	color: var(--text-color);
	font-weight: 400;
	font-size: 32px;
}

html {
	background-color: #fafafa;
}

body {
	margin: 0;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	zoom: 45%;
}

.app {
	width: 1080px;
	aspect-ratio: 9 / 16;
	overflow: hidden;
	position: relative;
}

.app {
	background-color: var(--theme-bg);
	transition: background 0.25s ease;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.rounded-top {
	border-radius: 45px 45px 0 0;
}

.rounded {
	border-radius: 45px;
}

.extra-text {
	position: absolute;
	top: 0;
	right: 0;
	width: 94px;
	aspect-ratio: 1;
	background-color: var(--active-color);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 64px;
	line-height: 0.8;
	margin: 0;
}

.button {
	border-radius: 35px;
	padding: 15px 30px;
	width: 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	line-height: 53px;
	background-color: var(--active-color);
	cursor: pointer;
	min-height: 163px;
}

.button_price {
	justify-content: space-between;
}

.button_alt {
	background-color: #fff;
	justify-content: center;
}

.button_ghost {
	background-color: transparent;
	border: 1px #fff solid;
	color: #fff;
}

.price {
	font-size: 100px;
	font-weight: 600;
	line-height: 127.8px;
}
